/*---------------------------------------------------------------------*/
/*----------------------------- CABECERA ------------------------------*/
/*---------------------------------------------------------------------*/
header{
    width: auto;
    height: 100px;
    
    background-color: white;
    border: 10px solid black;
    
    font-size: 200%;
    font-family: cursive;
}



/*---------------------------------------------------------------------*/
/*----------------------- BARRA DE NAVEGACION -------------------------*/
/*---------------------------------------------------------------------*/
nav ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    width: 33%;
    display: inline-block;
    
}

nav ul li a{
    text-justify: center;
}

nav ul li a.hover{
    background-color: yellow;
    color: red;
}




/*-------------------------------------------------------------*/
/*----------------------- SELECCIONES -------------------------*/
/*-------------------------------------------------------------*/

fieldset{
    width: 60%;
    margin: 5px auto;
}

legend{
    font-size: 120%;
    font-weight: bold;
    margin: auto;
}

select{
    width: 200px;
    
    padding: 5px;
    margin: 10px auto;
    
    display: block;
}

select option:checked{
    background-color: lightgreen;
}



/*-----------------------------------------------------------*/
/*--------------------- DIVS - GENERALES --------------------*/
/*-----------------------------------------------------------*/
.generales{
    width: 100px;

    border: 7px double;
    padding: 2px;
    margin: auto;

    display: none;
}

.generales[calidad="5"]{
    border-color: darkorange;
}

.generales[calidad="4"]{
    border-color: purple;
}

.generales[calidad="3"]{
    border-color: dodgerblue;
}

.generales[calidad="2"]{
    border-color: green;
}