body {
    color: grey;
}

/*ESTILO DE CLASES*/

.verdes {
    color: green;
}
.azules {
    color: blue;
}
.azules:nth-child(odd){
    font-style: oblique;
}
.azules:nth-child(2) {
    background-color: aqua;
}
.azules{
    text-shadow: 2px 2px grey;
}


/*Estilo de Atributo*/
 il[class="segundo"]{
    text-decoration: overline;
}

/*El primer elemento*/
il li:first-child
{
    text-align: right
}

/*Añadir comentarios de antes y después del color verde */
.verdes::before{
    content : "Estoy antes de los de color verde";
}

.verdes::after{
    content : "Estoy tras los de color verde";
}